Repository URECA-TEAM-5/PopFlix-frontend, pull requests merged in 2024-11, with the labels that each got.

#9 style: 로그인 모달 디자인(버튼 미구현)
  src/components/Login/LoginModal.jsx
  src/route/RouteDef.jsx
Labels: style, 지훈

#16 fix: CT-901 오류 해결을 위한 새 브랜치 생성
  src/components/Login/LoginModal.jsx
  src/components/userInfo/UserInfoGender.jsx
  src/components/userInfo/UserInfoGenre.jsx
  src/components/userInfo/UserInfoImage.jsx
  src/components/userInfo/UserInfoNickname.jsx
  src/pages/addUserInfo/AddUserInfo.jsx
  src/route/RouteDef.jsx
Labels: fix

#11 style: WatchList 목록 페이지 퍼블리싱
  src/components/watchlist/WatchListAll.jsx
  src/components/watchlist/WatchListFilter.jsx
  src/components/watchlist/WatchListLike.jsx
  src/components/watchlist/WatchListMonth.jsx
  src/components/watchlist/WatchListMonth.module.css
  src/components/watchlist/WatchListPagenation.jsx
  src/components/watchlist/data/allData.js
  src/components/watchlist/data/data.js
  src/components/watchlist/style/WatchListAll.js
  src/components/watchlist/style/WatchListMonth.js
  src/pages/watchlist/WatchList.module.css
  src/pages/watchlist/WatchListPage.jsx
  src/route/RouteDef.jsx
Labels: style, 은진

#23 style: WatchList 관련 모달 퍼블리싱
  src/components/watchlist/NewListCount.jsx
  src/components/watchlist/NewListInput.jsx
  src/components/watchlist/NewListModal.jsx
  src/components/watchlist/SearchMovieModal.jsx
  src/components/watchlist/WatchListAll.jsx
  src/components/watchlist/WatchListCardItem.jsx
  src/components/watchlist/WatchListMonth.module.css
  src/components/watchlist/style/NewListModal.js
  src/components/watchlist/style/SearchMovieModal.js
  src/components/watchlist/style/WatchListMonth.js
  src/pages/watchlist/WatchList.module.css
  src/pages/watchlist/WatchListPage.jsx
  src/route/RouteDef.jsx
Labels: style, 은진

#28 refactor: WatchList 목록 페이지 반응형 세팅
  public/assets/watchlist_banner.svg
  src/components/watchlist/WatchListAll.jsx
  src/components/watchlist/WatchListFilter.jsx
  src/components/watchlist/WatchListMonth.jsx
  src/components/watchlist/style/WatchListAll.js
  src/components/watchlist/style/WatchListMonth.js
Labels: refactor, style, 은진

#31 refactor: WatchList 목록 페이지 수정
  src/components/watchlist/WatchListAll.jsx
  src/components/watchlist/WatchListCardItem.jsx
  src/components/watchlist/WatchListDetail.jsx
  src/components/watchlist/WatchListFilter.jsx
  src/components/watchlist/WatchListMonth.jsx
  src/components/watchlist/data/allData.js
  src/components/watchlist/data/data.js
  src/components/watchlist/data/detailData.js
  src/components/watchlist/data/monthData.js
  src/components/watchlist/modal/NewListCount.jsx
  src/components/watchlist/modal/NewListInput.jsx
  src/components/watchlist/modal/NewListModal.jsx
  src/components/watchlist/modal/SearchMovieModal.jsx
  src/components/watchlist/style/WatchListDetail.js
  src/components/watchlist/style/WatchListMonth.js
  src/pages/watchlist/WatchListDetailPage.jsx
  src/route/RouteDef.jsx
Labels: refactor, style, 은진
